
# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Python files
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
/.project


# Visual studio project files
*.ilk
*.sdf
*.opensdf
*unsuccessfulbuild
*.vcproj
*.vcxproj
*.vcproj.*
*.vcxproj.*
*.vcproj.*.*
*.vcxproj.*.*
*.sln
*.ncb
*.suo
*.obj
*.dep
*.manifest
*.manifest.*
BuildLog.htm
*.idb
*.pdb
*.lib
*.tlog
*.log
*.lastbuildstate
*.cache
*codeanalysis*
*.exp

# binaries
/bin
/build/release/bin
/build/release/CMakeFiles
/build/release/hdf5boost
/build/release/libs
/build/release/stem3
/build/debug/bin
/build/debug/CMakeFiles
/build/debug/hdf5boost
/build/debug/libs
/build/debug/stem3
/tests
# build-generated CMake garbage
/CMakeFiles
*/CMakeFiles
*cmake_install*
/hdf5boost/*.cmake
CMakeCache.txt
generate.stamp*
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# test files
CTest*

# result files
validation/si3n4/*.h5

*.img
*.so
*.o
*.la
*.h5
